@model List<Jogador>

<html>
<head>
    <title>Jogadores</title>
</head>
<body>
    <h1>Jogadores</h1>
    <table>
        <thead>
            <tr>
                <th>Nome&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</th>
                <th>Data de Nascimento&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</th>
                <th>Salário&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</th>
                <th>Nacionalidade&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</th>
                <th>Posição&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</th>
                <th>Especialidade&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</th>
                <th>Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var jogador in Model)
            {
                <tr>
                    <td>@jogador.GetNome() &nbsp;&nbsp</td>
                    <td>@jogador.DataNascimento.ToShortDateString()&nbsp;&nbsp</td>
                    <td>@jogador.GetSalario()&nbsp;&nbsp</td>
                    <td>@jogador.Nacionalidade &nbsp;&nbsp</td>
                    <td>@jogador.Posicao &nbsp;&nbsp</td>
                    <td>@jogador.Especialidade &nbsp;&nbsp</td>
                    <td>@jogador.Status &nbsp;&nbsp</td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>